bpy==3.4.0
imageio==2.21.1
kaolin==0.11.0
mathutils==3.3.0
matplotlib==3.5.2
natsort==8.2.0
numpy==1.23.1
open3d==0.11.2
opencv_python==4.6.0.66
pandas==1.4.4
Pillow==9.4.0
pytorch3d==0.7.2
pytorch3d.egg==info
pytorch_metric_learning==1.6.2
PyYAML==6.0
scikit_learn==1.2.1
scipy==1.5.2
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
